/node_modules
/kunto-react-backend
/kunto-react-frontend


# client side hide items 

/client/node_modules
/client/src/config
/client/redux


# server side hide items 
/server/config
/server/.gitignore



# parent folder hide items 
Readme.mo
